<nav class="black amber-text">
  <div class="container">
    {{#if currentCity.show}}
      {{#if currentCity.isFlying}}
        <div class="right">
          <span class="chip amber black-text">Dave is currently flying to {{currentCity.name}}</span>
        </div>
      {{else}}
      <div class="right">
        <span class="chip amber black-text">Dave is currently in {{currentCity.name}}</span>
      </div>
      {{/if}}
    {{/if}}
    <ul id="slide-out" class="side-nav black amber-text">
      <li class="no-hover">
        <a href="/" class="block-me">
          <img class="responsive-img circle side-nav-face" src="/img/face.jpg" />
        </a>
      </li>
      <!-- NEED A LOOP HERE... -->
      <li>
        <a href="cali/day-one" class="nav-item-link amber-text">Day One</a>
      </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
