<div class="section black-text" id="index-banner">
  <div class="container">
    <h2 class="header thin center black-text">Dave is in <span class="current-city">{{currentCity}}</span></h2>
    <div class="row center">
      <div class="col s12">
        <p class="flow-text">
          Welcome to my little travel tracker and blog. This is meant to be a keepsake of memories I had on my trip but also to keep you folks back in Toronto up to date on the cool shit I've seen and done in California.
        </p>
      </div>
    </div>
    <div class="row center">
      <a href="/day-one" id="download-button" class="btn-large waves-effect waves-light black">View Last Post!</a>
    </div>
  </div>
</div>
