<div class="section black-text" id="index-banner">
  <div class="container">
    <h3 class="header thin black-text">
      About the project
    </h3>
    <p class="flow-text">
      I built this application in one night about a day or two before I left for the trip, frankly because I was bored and also because I didn't want to keep sending a bunch of people the same messages about my adventures a bunch of times. Thats not a very efficent system and seeing as WiFi is a free comodity where I am staying, I felt that this was a better solution. Also I just wanted a keepsake so I could always remember my travels. I will use this same exact application/domain for any future travels I do, which is why this trip's posts are prefixed with "/cali/" in the URL and future ones will be "/cool-new-place/day-one".
    </p>
    <p class="flow-text">
      Right so I'm getting the vibe that people think I am manually setting the "where is Dave" portion of this blog manually, or that I have hooked into my phone's GPS about where I am. Incorrect on both accounts, as updating it manually is tedious and hooking into my phone's GPS is too compilcated. Basically I wrote <a href="https://github.com/himynameisdave/whereisdave/blob/master/server/getCurrentCity.js" class="neato-link">a script</a> based on where I'm going to be on specific days, at specific times, and whether or not I am flying at that time. I'm fairly proud of it, mostly because it works and also because it doesn't break anything.
    </p>
    <p class="flow-text">
      Actually, you can look at the <a href="https://github.com/himynameisdave/whereisdave" class="neato-link">source code</a> for the entire project because like everything I do it is open-source :) I feel like it will mostly be my nerdy dev friends who look at it but hey you could learn something, go check it out.
    </p>
    <p class="flow-text">
      Seeing as it's mostly nerd friends reading this part anyway, I might as well go over the tech stack I used for this project. I have Heroku hosting my <a class="neato-link" href="http://expressjs.com/en/index.html">Node/Express</a> server for the backend. I'm using <a href="http://handlebarsjs.com" class="neato-link">Handlebars</a> for templating, and I'm writing the posts in Markdown and using <a class="neato-link" href="https://github.com/chjj/marked">Marked</a> to convert them to  handlebars templates. The front-end is fully handled by <a href="http://materializecss.com/" class="neato-link">Materialize</a> with a few minor modifications. All images are hosted on Imgur so that I can easily upload them from my phone.
    </p>
    <h4 class="header thin black-text">
      Thanks for reading, it feels like you're all right here with me!
    </h4>
    <h4 class="header thin black-text">
      - Love, Dave
    </h4>
  </div>
</div>
