<div class="section black-text" id="index-banner">
  <div class="container">
      {{> (lookup . 'templatePath')}}
      <script>
        ga('set', 'page', 'cali/{{name}}');
        ga('send', 'pageview');
      </script>
  </div>
</div>
