<div class="section black-text" id="index-banner">
  <div class="container">
    <h2 class="header thin center black-text">
      {{#if currentCity.isFlying}}
        Dave is flying to <span class="current-city">{{currentCity.name}}</span>
      {{else}}
        Dave is in <span class="current-city">{{currentCity.name}}</span>
      {{/if}}
    </h2>
    <div class="row center">
      <div class="col s12">
        <p class="flow-text">
          Welcome to my little travel tracker/blog/internet thing.
          I built this so that I'd always have a digital journal of my travels, but also so that you folks back home can see some of the cool shit I've seen.
        </p>
        <p class="flow-text">
          Click the button below to see the latest post, or pick a specific day from the menu by clicking the hamburger menu at the top left.
        </p>
      </div>
    </div>
    <div class="row center">
      <a href="cali/day-four" id="download-button" class="btn-large waves-effect waves-light black amber-text">See What I'm Up To!</a>
    </div>
  </div>
</div>
