@charset "UTF-8";
@import "materialize";

$amber: #ffc107;
$intl-orange: #C0362C;


.black {
  background-color: #333 !important;
}
.black-text {
  color: #333 !important;
}

.mdi-navigation-menu {
  color: $amber;
  margin-left: 1rem;
}

.current-city {
  background: #333;
  color: $amber;
  display: inline-block;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

nav a.button-collapse {
  display: block;
}

.side-nav {
  li {
    &:hover {
      background-color: $amber;
      .nav-item-link {
        color: #333 !important;
      }
    }
  }
}

.neato-link {
  color: #0ac;
  position: relative;
  transition: color 0.4s ease-in-out;
  &:after {
    content: '';
    display: block;
    height: 2px;
    background: #0ac;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    transition: width 0.4s ease-in-out;
  }
  &:hover {
    color: #333;
    &:after {
      width: 100%;
    }
  }
}

.block-me {
  display: block !important;
  height: auto !important;
}

.side-nav-face {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 80%;
}

.side-nav li:first-child:hover{
  background-color: inherit;
}


// .nav-item-link {
//   &:hover {
//     background-color: $amber;
//     color: #333;
//   }
// }

.bottom-plz {
  position: absolute;
  bottom: 0;
}

.responsive-img {
  max-height: 700px;
  margin: 0 auto;
}
